<%- include ('../../views/_header.ejs') %>
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-7" >
      <div class="card" >
        <div class="card-body" >
            <div class="form-group" >
              <p><font color=#0000>z611998019 == <%= data.z611998019 %></font></p>
            </div>
            <div class="form-group">
              <p><font color=#0000>y611998019 == <%= data.y611998019 %></font></p>
            </div>
            <div class="form-group">
              <p><font color=#0000>x611998019 == <%= data.x611998019 %></font></p>
            </div>
            <div class="form-group">
              <p><font color=#0000>w611998019 == <%= data.w611998019 %></font></p>
            </div>
            <div class="form-group">
              <p><font color=#0000>v611998019 == <%= data.v611998019 %></font></p>
            </div>
            <div class="form-group">
              <h5><font color=#0000>u confirm  DELETE ??%></font></h5>
            </div>
            <a href="/s611998019" class="btn btn-outline-secondary">>Back</a>
            <a href="/s611998019/delete/<%= data.id19 %>" class="btn btn-outline-danger"> DELETE ? </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../../views/_footer.ejs') %>
