<%- include ('../../views/_header.ejs') %>
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
          <% if(data){ %>
          <form  action="/s611998019/update/<%= data.id19 %>" method="post" >
            <div class="form-group" >
              <p>z19-float</p>
              <input type="text" name="z611998019"  value=" <%= data.z611998019 %>" class="form-control" >
            </div>
            <div class="form-group">
              <p>y19-varchar</p>
              <input type="text" name="y611998019" value=" <%= data.y611998019 %>" class="form-control" >
            </div>
            <div class="form-group">
              <p>x19-int</p>
              <input type="text" name="x611998019" value=" <%= data.x611998019 %>" class="form-control" >
            </div>
            <div class="form-group">
              <p>w19-date</p>
              <input type="text" name="w611998019" value=" <%= data.time %>" class="form-control" >
            </div>
            <div class="form-group">
              <p>v19-time</p>
              <input type="text" name="v611998019" value=" <%= data.v611998019 %>" class="form-control" >
            </div>
            <a href="/s611998019" class="btn btn-outline-secondary">>Back</a>
            <button type="submit"  class="btn btn-primary">Save Update</button>
          </form>
        <% }else { %>
          <form  action="/s611998019/add" method="post">
            <div class="form-group">
              <p>z19-float</p>
              <input type="text" name="z611998019" placeholder="z611998019" class="form-control">
            </div>
            <div class="form-group">
              <p>y19-varchar</p>
              <input type="text" name="y611998019" placeholder="y611998019" class="form-control">
            </div>
            <div class="form-group">
              <p>x19-int</p>
              <input type="text" name="x611998019" placeholder="x611998019" class="form-control">
            </div>
            <div class="form-group">
              <p>w19-date</p>
              <input type="date" name="w611998019" placeholder="w611998019" class="form-control">
            </div>
            <div class="form-group">
              <p>v19-time</p>
              <input type="time" name="v611998019" placeholder="v61199801" class="form-control">
            </div>
            <a href="/s611998019" class="btn btn-outline-secondary">>Back</a>
            <button type="submit"  class="btn btn-primary">Save Add</button>
          </form>
          <% } %>

        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>
