<%- include ('../../views/_header.ejs') %>

    <div class="container">

        <div class="row">

    <div class="col-md-9">
      <a href="/s611998019/new" class="btn btn-outline-success">Add</a>
      <table class="table table-hover">
        <thead>
          <tr class="table-active" >
            <th>No</th>
            <th>z611998019</th>
            <th>y611998019</th>
            <th>x611998019</th>
            <th>w611998019</th>
            <th>v611998019</th>
            <th>do</th>
          </tr>
        </thead>
        <tbody>
          <% if(data){ %>
            <% for (var i = 0; i < data.length; i++) { %>
              <tr class="table-light">
                <td> <%= (i+1) %> </td>
                <td> <%= data[i].z611998019 %></td>
                <td> <%= data[i].y611998019 %> </td>
                <td> <%= data[i].x611998019 %> </td>
                <td> <%= data[i].w611998019 %> </td>
                <td> <%= data[i].v611998019 %> </td>
                <td>
                  <a href="/s611998019/del/<%= data[i].id19 %>" class="btn btn-outline-danger"> DELETE </a>
                  <a href="/s611998019/update/<%= data[i].id19 %>" class="btn btn-outline-secondary"> UPDATE </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>


    <%- include ('../../views/_footer.ejs') %>
