<%- include ('../_header.ejs') %>
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
            <div class="form-group" >
              <h5><font color=#0000>z611998011 == <%= data.z611998011 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>y611998011 == <%= data.y611998011 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>x611998011 == <%= data.x611998011 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>w611998011 == <%= data.w611998011.toLocaleDateString() %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>v611998011 == <%= data.v611998011 %></font></h5>
            </div>
            <div class="form-group">
              <h2><font color=#0000>u confirm  DELETE ??%></font></h2>
            </div>
            <a href="/s611998011" class="btn btn-outline-secondary">Back</a>
            <a href="/s611998011/delete/<%= data.id11 %>" class="btn btn-outline-danger"> DELETE ? </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../_footer.ejs') %>
