
<%- include ("../_header") %>
     <div class="container">

       <div class="row mt-5">

         <div class="col mt-9">
          <a href="/s611998011/new" class="btn btn-success"> ADD </a>

           <table class="table table-bordered table-hover">
             <thead>
             <tr class="table-primary">

                                <th> No </th>
                                <th> z611998011 </th>
                                <th> y611998011 </th>
                                <th> x611998011 </th>
                                <th> w611998011 </th>
                                <th> v611998011 </th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            <% if(data){ %>
                                <% for(var i =  0; i < data.length ; i++){%>
                                    <tr align="center">
                                      <td><%= (i+1) %></td>
                                        <td><%= data[i].z611998011 %></td>
                                        <td><%= data[i].y611998011 %></td>
                                        <td><%= data[i].x611998011 %></td>
                                        <td><%= data[i].w611998011 %></td>
                                        <td><%= data[i].v611998011 %></td>
                                        <td>
                      <a href="/s611998011/del/<%= data[i].id11 %>" class="btn btn-danger"> Delete </a>
                      <a href="/s611998011/up/<%= data[i].id11 %>" class="btn btn-success"> Update </a>


                      </td>
                      </tr>
                  <%} %>
                <%} %>
                </tbody>
                </table>

             </div>
            </div>
            </div>


<%- include ("../_footer") %>
