<%- include ('../_header.ejs') %>
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
<a class="btn btn-primary">เปลี่ยนแปลงข้อมูลหรือกรอกข้อมูลเพิ่ม</a>
          <% if(data){ %>


          <form  action="/s611998011/update/<%= data.id11 %>" method="post" >
            <div class="form-group" >
              <input type="text" name="z611998011"  value=" <%= data.z611998011 %>" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="y611998011" value=" <%= data.y611998011 %>" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="x611998011" value=" <%= data.x611998011 %>" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="w611998011" value=" <%= data.w611998011 %>" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="v611998011" value=" <%= data.v611998011 %>" class="form-control" >
            </div>
            <a href="/s611998011" class="btn btn-outline-secondary">Back</a>
            <button type="submit"  class="btn btn-primary">Save Update</button>
          </form>
        <% }else { %>
          <form  action="/s611998011/add" method="post">
            <div class="form-group">
              <input type="text" name="z611998011" placeholder="z611998011float" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="y611998011" placeholder="y611998011varchar" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="x611998011" placeholder="x611998011int" class="form-control">
            </div>
            <div class="form-group">
              <input type="date" name="w611998011" placeholder="w611998011date" class="form-control">
            </div>
            <div class="form-group">
              <input type="time" name="v611998011" placeholder="v611998011time" class="form-control">
            </div>

            <a href="/s611998011" class="btn btn-outline-secondary">Back</a>
            <button type="submit"  class="btn btn-primary">Save Add</button>
          </form>
          <% } %>

        </div>
    </div>

    <%- include ('../_footer.ejs') %>
