<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Group2 </title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" </head>

    <body>


        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/home"><h2>HOME</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/ford"> FORD <span class="sr-only">(current)</span></a>
                    </li>
            </div>
        </nav>

        <% JSON.stringify(session) %>
        <% if(session.success==false){ %>
        <% for(var i=0; i <session.errors.errors.length;i++){ %>
          <div class="alert alert-danger" role="alert">
            <%= session.errors.errors[i]["msg"] %>
          </div>
        <% } session.success=null; } %>

        <% if(session.success==true){ %>
            <div class="alert alert-success" role="alert">
              <%= session.topic %>
            </div>
          <% } session.success=null; %>
