<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
  </head>
   <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
            <a class="navbar-brand" href="/home"><h1>HOME</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              </nav>
<div class="ford">
    <a href="/ford" class="btn btn-primary"><h2>Ford</h2></a>
    </div>


   <style>
    body{
      background-image: url('https://sites.google.com/site/pansahomklin/_/rsrc/1424142335610/faem-sasm-phl-ngan/ph/%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87%20copy.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
    }
    .ford a{
      position: absolute;
        left: 50%;
        top: 150px;
    }

  </style>

   </body>
</html>
