<%- include("../../views/_header") %>
<div class="row mt-5">
  <div class="col-md-5"></div>
    <div class="col-md-4">
<h2>ลบข้อมูล</h2>
</div>
</div>
<div class="container mt-3">
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                  <form action="/ford/delete/<%= data.id30 %>" method="POST">
            <div class="form-group">
                <h3>Float = <%= data.z611998030%></h3>
            </div>
            <div class="form-group">
                <h3>Varchar = <%= data.y611998030%></h3>
            </div>
            <div class="form-group">
                <h3>int = <%= data.x611998030%></h3>
            </div>
            <div class="form-group">
                <h3>Date = <%= data.w611998030.toISOString().split('T')[0] %></h3>
            </div>
            <div class="form-group">
                <h3>Time = <%= data.v611998030%></h3>
            </div>
            <a href="/ford/deleteNow/<%= data.id30%>" class="btn btn-danger"><h3> ลบ</h3> </a>
            <a href="/ford" class="btn btn-primary"> <h3>กลับ</h3> </a>
            </form>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>

<%- include ('../../views/_footer.ejs') %>
