<%- include("../../views/_header") %>
<div class="row mt-5">
    <div class="col-md-5"></div>
<div class="col-md-4">
<h2>เพิ่ม/แก้ไขข้อมูล</h2>
  </div>
  </div>
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <% if(data) { %>
                            <form action="/ford/update/ <%= data.id30 %>" method="post">
                                <div class="form-group">
                                    <input type="text" name="z611998030" value="<%= data.z611998030 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="y611998030" value="<%= data.y611998030 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="x611998030" value="<%= data.x611998030 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="date" name="w611998030" value="<%= new Date(data.w611998030).toISOString().split('T') [0] %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="time" name="v611998030" value="<%= data.v611998030 %>" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block"> Save </button>
                                <a href="/ford" class="btn btn-primary btn-lg btn-block">Back</a>
                            </form>
                            <% } else { %>
                                <form action="/ford/add" method="post">
                                    <div class="form-group">
                                        <input type="text" name="z611998030" placeholder="float" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="y611998030" placeholder="varchar" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="x611998030" placeholder="int" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="date" name="w611998030" placeholder="date" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="time" name="v611998030" placeholder="time" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg btn-block"> Save </button>
                                    <a href="/ford" class="btn btn-primary btn-lg btn-block">Back</a>
                                </form>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>
