<%- include("../../views/_header") %>
<div class="row mt-5">
  <div class="col-md-4"></div>
    <div class="col-md-4">
<h2>ตารางข้อมูล</h2>
  </div>
</div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-9">
                <a href="/ford/new" class="btn btn-danger">ADD</a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> No </th>
                            <th> Float</th>
                            <th> Vatchar</th>
                            <th> Int</th>
                            <th> Date </th>
                            <th> Time </th>
                            <th> Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <%  if(data){ %>
                            <%  for(var i= 0; i< data.length;i++){ %>
                                <tr>
                                    <td>
                                        <%= (i+1) %>
                                    </td>
                                    <td>
                                        <%= data[i].z611998030 %>
                                    </td>
                                    <td>
                                        <%= data[i].y611998030 %>
                                    </td>
                                    <td>
                                        <%= data[i].x611998030 %>
                                    </td>
                                    <td>
                                        <%= new Date(data[i].w611998030).toISOString().split('T') [0] %>
                                    </td>
                                    <td>
                                        <%= data[i].v611998030 %>
                                    </td>
                                    <td>
                                        <a href="/ford/delete/<%= data[i].id30 %>" class="btn btn-danger"> Delete</a>
                                        <a href="/ford/update/<%= data[i].id30 %>" class="btn btn-info"> Update</a>
                                    </td>
                                    <%  } %>
                                        <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>
